table {
  width: 650px;
  border-top: 7px solid rgb(43, 129, 17);
  border-collapse: collapse;
  text-align: center;
  margin-bottom: 20px;
  border: 1px solid #dddddd;
}

td {
  text-align: left;
	padding: 10px;
}

.up {
    background-color: gainsboro;
}

.low {
    background-color: rgb(1, 155, 155);
}

.work {
    text-align: center;
}

.action {
    margin-top: 10px;
}